<form>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
  				<div class="panel-heading">
  					Retirement Age
  				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="ageStart">Current Age</label>
						<input class="form-control" id="ageStart" type="number" ng-model="ageStart">
					</div>
					<div class="form-group">
						<label for="ageStart">Retirement Age</label>
						<input class="form-control" id="ageRetirement" type="number" ng-model="ageRetirement">
					</div>
					<div class="form-group">
						<label for="retirementSpending">Desired Retirement Income (annual withdrawl including any taxes)</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="retirementSpending" type="number" ng-model="retirementSpending">
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-heading">
  					Income and Tax Rate
  				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="yearlyGrossIncome">Combined Yearly Gross Income</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="yearlyGrossIncome" type="number" ng-model="yearlyGrossIncome">
						</div>
					</div>
					<div class="form-group">
						<label for="taxRate">Effective Tax Rate</label>
						<div class="input-group">
							<input class="form-control" id="taxRate" type="number" step="0.1" ng-model="taxRate">
							<div class="input-group-addon">%</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Savings
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="input-group">
							<label for="savingsBeginningBalance">Beginning Savings Balance</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input class="form-control" id="savingsBeginningBalance" type="number" ng-model="savingsBeginningBalance">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="monthlyPretaxSavingsContribution">Monthly Pre-tax Savings Contribution</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="monthlyPretaxSavingsContribution" type="number" ng-model="monthlyPretaxSavingsContribution" max="917">
						</div>
					</div>
					<div class="form-group">
						<label for="monthlyPosttaxSavingsContribution">Monthly Post-tax Savings Contribution</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="monthlyPosttaxSavingsContribution" type="number" ng-model="monthlyPosttaxSavingsContribution">
						</div>
					</div>
					<div class="form-group">
						<label for="annualSavingsInterest">Anticipated Yearly Interest (compounded annually)</label>
						<div class="input-group">
							<input class="form-control" id="annualSavingsInterest" type="number" step="0.1" ng-model="annualSavingsInterest">
							<div class="input-group-addon">%</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-heading">
  					Home
  				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="afterTaxAndSavingsTowardsMortgage">Percent of After-Tax and Savings to Go Toward Mortgage</label>
						<div class="input-group">
							<input class="form-control" id="afterTaxAndSavingsTowardsMortgage" type="number" ng-model="afterTaxAndSavingsTowardsMortgage">
							<div class="input-group-addon">%</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="downPayment">Down Payment</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="downPayment" type="number" ng-model="downPayment">
						</div>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default" ng-click="estimatePrincipal()">Estimate Affordable Purchase Price</button>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="purchasePrice">Purchase Price</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="purchasePrice" type="number" step="0.01" ng-model="purchasePrice">
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="monthlyMortgagePayment">Mortgage Payment (monthly)</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control" id="monthlyMortgagePayment" type="number" step="0.01" ng-model="monthlyMortgagePayment">
						</div>
					</div>
				</div>

			</div>
			<div class="panel panel-default">
  				<div class="panel-heading">
  					Mortgage
  				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="mortgageInterest">Mortgage Interest (%)</label>
						<div class="input-group">
							<input class="form-control" id="mortgageInterest" type="number" step="0.01" ng-model="mortgageInterest">
							<div class="input-group-addon">%</div>
						</div>
					</div>
					<div class="form-group">
						<label for="propertyTaxRate">Property Tax</label>
						<div class="input-group">
							<input class="form-control" id="propertyTaxRate" type="number" step="0.1" ng-model="propertyTaxRate">
							<div class="input-group-addon">%</div>
						</div>
					</div>
					<div class="form-group">
						<label for="homeownersInsuranceRate">Homeowners Insurance (% value of home paid annually)</label>
						<div class="input-group">
							<input class="form-control" id="homeownersInsuranceRate" type="number" step="0.1" ng-model="homeownersInsuranceRate">
							<div class="input-group-addon">%</div>
						</div>
					</div>
					<div class="form-group">
						<label for="mortgageTerm">Mortgage Term</label>
						<input class="form-control" id="mortgageTerm" type="number" ng-model="mortgageTerm">
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-click="calculate()">Calculate</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
					<p>35% of an after-tax and after-savings yearly income of <span ng-bind="yearlyAfterTaxAndSavingsIncome | currency"></span> is a mortgage payment of <span ng-bind="monthlyMortgagePayment | currency"></span> which at an interest rate of <span ng-bind="mortgageInterest"></span>% for <span ng-bind="mortgageTerm"></span> years allows the simple financing of a home with a purchase price of <span style="color:green; font-weight:bold" ng-bind="principal | currency"></span> <em>with no down payment</em>. By simple, I mean only interest is considered, not interest, taxes and insurance.</p>

					<p>All default numbers are estimates unfavorable to our situation. Specifically, it assumes our income will never be over 100K, that income taxes and mortage rates will rise, that our retirement fund accrues interest at a rate 33% poorer than the historival average of the S&amp;P 500. It also assumes Paul Ryan successfully ruins Social Security before we retire.</p>

					<p>I also recall the bank will estimate what we can afford by taking 35-45% of our income before savings - this calculates the percentage after savings contributions.</p>

					<p>The next version of this tool will incorporate PIMI and a down payment!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
				</div>
				<div class="col-xs-2">
					Savings Contribution
				</div>
				<div class="col-xs-3">
					Accrued Retirement Savings
				</div>
				<div class="col-xs-2">
					Mortagage Payment This Year
				</div>
				<div class="col-xs-2">
					Mortagage Payment from Savings
				</div>
			</div>
			<div class="row" ng-repeat="result in results">
				<div class="col-xs-3">
					Year <span ng-bind="$index"></span> (Erik is {{ageStart + $index}})
				</div>
				<div class="col-xs-2">
					{{result.savingsContribution | currency}}
				</div>
				<div class="col-xs-3">
					{{result.savings | currency}}
				</div>
				<div class="col-xs-2">
					{{result.mortgagePayments | currency}}
				</div>
				<div class="col-xs-2">
					{{result.mortgagePaymentsFromSavings | currency}}
				</div>
			</div>
		</div>
	</div>
</div>


</form>
